/******************************************************************
Site Name: Cheers to Adventure
Author: Emily Roth

Stylesheet: Typography

******************************************************************/

/*********************
FONT FACE
*********************/

@font-face {
  font-family: "Playlist";
  src: url("../fonts/Playlist-Script.ttf.woff") format("woff"),
    url("../fonts/Playlist-Script.ttf.svg#Playlist-Script") format("svg"),
    url("../fonts/Playlist-Script.ttf.eot"),
    url("../fonts/Playlist-Script.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway.ttf.woff") format("woff"),
    url("../fonts/Raleway.ttf.svg#Raleway") format("svg"),
    url("../fonts/Raleway.ttf.eot"),
    url("../fonts/Raleway.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Merriweather";
  src: url("../fonts/Merriweather.ttf.woff") format("woff"),
    url("../fonts/Merriweather.ttf.svg#Merriweather") format("svg"),
    url("../fonts/Merriweather.ttf.eot"),
    url("../fonts/Merriweather.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

// font stacks
$sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif: "Georgia", Cambria, Times New Roman, Times, serif;


$playlist: "Playlist", $sans-serif;
$raleway: "Raleway", $sans-serif;
$merriweather: "Merriweather", $sans-serif;

/*
some nice typographical defaults
more here: http://www.newnet-soft.com/blog/csstypography
*/
p {
  -ms-word-wrap: break-word;
  word-break: break-word; //non-standart css for webkit
  word-wrap: break-word;
  // cleaning up the ragged lines and breaks
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  // sets a minimum number of characters before and after the break
  -webkit-hyphenate-before: 2;
  -webkit-hyphenate-after: 3;
  hyphenate-lines: 3;
  // enabling fancy ligatures when available
  -webkit-font-feature-settings: "liga", "dlig";
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
}
